@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
  background-color: #fafafa;
}

.text-wrapper {
  margin: 0 auto;
  width: 80%;
}

.navigation {
  margin: 5.1em;
}
.navigation .logo {
  text-align: center;
}
.navigation .logo--hidden {
  font-size: 0;
}

.header {
  width: 100vw;
  overflow: hidden;
}
.header .hero__image--left {
  width: calc(100% + 40px);
  margin: 0 -20px 2em;
  height: 160px;
  text-align: center;
  background-image: url("../assets/tablet/image-hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.header .text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  text-align: center;
}
.header .text__title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-size: 4rem;
  margin: 0 auto;
  max-width: 280px;
  color: #28283d;
}
.header .text__description {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 1.6rem;
  color: #87879d;
}
.header .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
}
.header .buttons .button {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-size: 1.6rem;
  line-height: 150%;
  padding: 16px 40px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: #fafafa;
  border-radius: 29px;
  transition: background-color 0.3s;
  outline: none;
}
.header .buttons .button--btn-1 {
  background-color: #4d96a9;
}
.header .buttons .button--btn-1 span {
  color: #8fe3f9;
}
.header .buttons .button--btn-1:hover, .header .buttons .button--btn-1:focus, .header .buttons .button--btn-1:active {
  background-color: #71c0d4;
}
.header .buttons .button--btn-2 {
  background-color: #855fb1;
}
.header .buttons .button--btn-2:hover, .header .buttons .button--btn-2:focus, .header .buttons .button--btn-2:active {
  background-color: #b28bdd;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.4em;
}

.guide {
  position: relative;
  margin: calc(6.4em + 80px) auto 0;
  padding: 16px 19px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #fafafa;
  border: 1px solid #d1d1df;
  border-radius: 50%;
  z-index: 3;
}
.guide__number {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-size: 1.6rem;
  line-height: 150%;
  color: #87879d;
}
.guide::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 1px;
  height: 80px;
  background-color: #d1d1df;
}

.image-collage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.6em;
}
.image-collage .image {
  border-radius: 8px;
  overflow: hidden;
}
.image-collage .image img {
  width: 100%;
  height: 100%;
}

.section .text {
  text-align: center;
}
.section .text__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.125em;
}
.section .text__title--small {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-bottom: 1.35em;
  text-transform: uppercase;
  color: #4d96a9;
}
.section .text__title--big {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-size: 3.2rem;
  max-width: 450px;
  color: #28283d;
}
.section .text__content {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 1.6rem;
  color: #87879d;
}

.footer {
  margin-top: -30px;
}
.footer .footer-hero {
  position: relative;
  padding: 6.4rem 0;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  z-index: 0;
}
.footer .footer-hero__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d96a9;
  opacity: 0.9;
  z-index: -1;
}
.footer .footer-hero .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4em;
  text-align: center;
  color: #fafafa;
}
.footer .footer-hero .text__title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-size: 3.2rem;
}
.footer .footer-hero .text__description {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 1.6rem;
}
.footer .footer-hero .text__cta-button {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0px;
  font-size: 1.6rem;
  line-height: 150%;
  padding: 16px 40px;
  color: #fafafa;
  background-color: #855fb1;
  border-radius: 29px;
  transition: background-color 0.3s;
  outline: none;
}
.footer .footer-hero .text__cta-button:hover, .footer .footer-hero .text__cta-button:focus, .footer .footer-hero .text__cta-button:active {
  background-color: #b28bdd;
}
.footer .footer-hero .text__cta-button span {
  color: #d9b8ff;
}

@media (width > 576px) {
  .header {
    width: 100vw;
    overflow: hidden;
  }
  .header .hero__image--left {
    margin: 0 -20px 5em;
    height: 350px;
    background-image: url("../assets/tablet/image-hero.png");
  }
  .header .text__title {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 4.8rem;
    max-width: 350px;
  }
  .header .text__description {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
  }
  .header .buttons {
    display: flex;
    flex-direction: row;
  }
  .section .guide {
    margin: calc(12em + 80px) auto 0;
  }
  .section .text {
    margin: 0 auto;
  }
  .section .text__title--small {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 1.4rem;
    letter-spacing: 4px;
  }
  .section .text__title--big {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 3.6rem;
    max-width: 450px;
  }
  .section .text__content {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0 auto;
    max-width: 500px;
  }
  .footer .footer-hero {
    background-image: url("../assets/tablet/image-footer.jpg");
  }
  .footer .footer-hero .text__title {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 3.6rem;
  }
  .footer .footer-hero .text__description {
    margin: 0 auto;
    max-width: 500px;
  }
}
@media (width > 768px) {
  .image-collage {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 2.4em;
  }
}
@media (width > 1200px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: 100vw;
    overflow: hidden;
  }
  .header .hero__image {
    width: calc(100% + 40px);
    height: 300px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
  .header .hero__image--left {
    order: 1;
    margin: 0 0 2em -100px;
    background-image: url("../assets/desktop/image-hero-left.png");
  }
  .header .hero__image--right {
    order: 3;
    margin: 0 -100px 2em 0;
    background-image: url("../assets/desktop/image-hero-right.png");
  }
  .header .text {
    order: 2;
  }
  .header .text__title {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 6.4rem;
    max-width: 550px;
  }
  .header .text__description {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
    width: 100%;
    min-width: 500px;
  }
  .image-collage {
    max-width: 1200px;
  }
  .section .text__title--small {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 1.6rem;
    letter-spacing: 4px;
  }
  .section .text__title--big {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 4rem;
  }
  .section .text__content {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
    max-width: 550px;
  }
  .footer .footer-hero {
    padding: 11.2rem 0;
    background-image: url("../assets/desktop/image-footer.jpg");
  }
  .footer .footer-hero .text {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
  }
  .footer .footer-hero .text__title {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 4rem;
    max-width: 350px;
  }
  .footer .footer-hero .text__description {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
    max-width: 350px;
  }
  .footer .footer-hero .text__cta-button {
    min-width: -moz-max-content;
    min-width: max-content;
  }
}/*# sourceMappingURL=main.css.map */