// cyan
$cyanDarker: #4d96a9;
$cyanLighter: #8fe3f9;

// purple
$purpleDarker: #855fb1;
$purpleLighter: #d9b8ff;

// slate
$slateVeryDark: #28283d;
$slateDarker: #87879d;
$slateLighter: #d1d1df;

// white
$white: #fafafa;
