@use './reset' as *;
@use './colors' as *;
@use './typography' as *;

@mixin flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-wrapper {
	margin: 0 auto;
	width: 80%;
}

// nav - logo
.navigation {
	margin: 5.1em;
	.logo {
		text-align: center;

		&--hidden {
			font-size: 0;
		}
	}
}

// header
.header {
	width: 100vw;
	overflow: hidden;
	.hero__image--left {
		width: calc(100% + 40px);
		margin: 0 -20px 2em;
		height: 160px;
		text-align: center;
		background-image: url('../assets/tablet/image-hero.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position-x: center;
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		text-align: center;

		&__title {
			@include text-preset-one();
			margin: 0 auto;
			max-width: 280px;
			color: $slateVeryDark;
		}

		&__description {
			@include text-preset-four();
			color: $slateDarker;
		}
	}

	.buttons {
		@include flex-column();
		gap: 1.6em;
		.button {
			@include text-preset-five;
			padding: 16px 40px;
			max-width: fit-content;
			color: $white;
			border-radius: 29px;
			transition: background-color 0.3s;
			outline: none;

			&--btn-1 {
				background-color: $cyanDarker;

				span {
					color: $cyanLighter;
				}

				&:hover,
				&:focus,
				&:active {
					background-color: #71c0d4;
				}
			}

			&--btn-2 {
				background-color: $purpleDarker;

				&:hover,
				&:focus,
				&:active {
					background-color: #b28bdd;
				}
			}
		}
	}
}

.section {
	@include flex-column();
	gap: 6.4em;
}

// guide "arrows"
.guide {
	position: relative;
	margin: calc(6.4em + 80px) auto 0;
	padding: 16px 19px;
	max-width: fit-content;
	background-color: $white;
	border: 1px solid $slateLighter;
	border-radius: 50%;
	z-index: 3;
	&__number {
		@include text-preset-five;
		color: $slateDarker;
	}

	&::before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 50%;
		width: 1px;
		height: 80px;
		background-color: $slateLighter;
	}
}

// photo collage
.image-collage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1.6em;

	.image {
		border-radius: 8px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

// section text
.section {
	.text {
		text-align: center;
		&__title {
			@include flex-column();
			margin-bottom: 2.125em;

			&--small {
				@include text-preset-three();
				margin-bottom: 1.35em;
				text-transform: uppercase;
				color: $cyanDarker;
			}

			&--big {
				@include text-preset-two();
				max-width: 450px;
				color: $slateVeryDark;
			}
		}

		&__content {
			@include text-preset-four();
			color: $slateDarker;
		}
	}
}

.footer {
	margin-top: -30px;
	.footer-hero {
		position: relative;
		padding: 6.4rem 0;
		background-image: url('../assets/mobile/image-footer.jpg');
		background-size: cover;
		z-index: 0;
		&__shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $cyanDarker;
			opacity: 0.9;
			z-index: -1;
		}

		.text {
			@include flex-column();
			gap: 2.4em;
			text-align: center;
			color: $white;

			&__title {
				@include text-preset-two();
			}

			&__description {
				@include text-preset-four();
			}

			&__cta-button {
				@include text-preset-five();
				padding: 16px 40px;
				color: $white;
				background-color: $purpleDarker;
				border-radius: 29px;
				transition: background-color 0.3s;
				outline: none;

				&:hover,
				&:focus,
				&:active {
					background-color: #b28bdd;
				}

				span {
					color: $purpleLighter;
				}
			}
		}
	}
}

@media (width > 576px) {
	.header {
		width: 100vw;
		overflow: hidden;
		.hero__image--left {
			margin: 0 -20px 5em;
			height: 350px;
			background-image: url('../assets/tablet/image-hero.png');
		}

		.text {
			&__title {
				@include text-preset-one-tablet();
				max-width: 350px;
			}

			&__description {
				margin: 0 auto;
				width: 90%;
				max-width: 400px;
			}
		}

		.buttons {
			display: flex;
			flex-direction: row;
		}
	}

	.section {
		.guide {
			margin: calc(6.4em + 5.6em + 80px) auto 0;
		}

		.text {
			margin: 0 auto;
			&__title {
				&--small {
					@include text-preset-three-tablet();
				}

				&--big {
					@include text-preset-two-tablet();
					max-width: 450px;
				}
			}

			&__content {
				@include text-preset-four();
				margin: 0 auto;
				max-width: 500px;
			}
		}
	}

	.footer {
		.footer-hero {
			background-image: url('../assets/tablet/image-footer.jpg');

			.text {
				&__title {
					@include text-preset-two-tablet();
				}

				&__description {
					margin: 0 auto;
					max-width: 500px;
				}
			}
		}
	}
}

@media (width > 768px) {
	.image-collage {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: none;
		gap: 2.4em;
	}
}

@media (width > 1200px) {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2em;
		width: 100vw;
		overflow: hidden;
		.hero__image {
			width: calc(100% + 40px);
			height: 300px;
			text-align: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-position-x: center;
		}

		.hero__image--left {
			order: 1;
			margin: 0 0 2em -100px;
			background-image: url('../assets/desktop/image-hero-left.png');
		}

		.hero__image--right {
			order: 3;
			margin: 0 -100px 2em 0;
			background-image: url('../assets/desktop/image-hero-right.png');
		}

		.text {
			order: 2;

			&__title {
				@include text-preset-one-desktop();
				max-width: 550px;
			}

			&__description {
				@include text-preset-four-desktop();
				width: 100%;
				min-width: 500px;
			}
		}
	}

	.image-collage {
		max-width: 1200px;
	}

	.section {
		.text {
			&__title {
				&--small {
					@include text-preset-three-desktop();
				}

				&--big {
					@include text-preset-two-desktop();
				}
			}

			&__content {
				@include text-preset-four-desktop();
				max-width: 550px;
			}
		}
	}
	.footer {
		.footer-hero {
			padding: 11.2rem 0;
			background-image: url('../assets/desktop/image-footer.jpg');

			.text {
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
				text-align: start;

				&__title {
					@include text-preset-two-desktop();
					max-width: 350px;
				}

				&__description {
					@include text-preset-four-desktop();
					max-width: 350px;
				}

				&__cta-button {
					min-width: max-content;
				}
			}
		}
	}
}
